*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#container {
  display: flex;
  background: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg") no-repeat center center/cover;
  height: 100vh;
}

#open-modal {
  position: absolute;
  font-size: 1.5rem;
  padding: .5rem;
  top: 80%;
  left: 10%;
  width: 200px;
  height: 50px;
  background: transparent;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer;
}

#open-modal:hover {
  background-color: antiquewhite;
  color: black;
}

#modal-container {
  display: none;
  position: inherit;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45em;
  padding: 2rem;
  border-radius: 10px;
  background-color: antiquewhite;

  animation: modalAnimate;
  animation-duration: .5s;
}

#modal .modal-content {
  margin-top: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper #close-modal {
  font-size: 2rem;
  cursor: pointer;
  color: darkred;
}

@keyframes modalAnimate {
  0% {
		transform: translate(-50%, -50%)
		scale(.7);

		opacity: 0;
	}
	45% {
		transform: translate(-50%, -50%)
		scale(1.05);

		opacity: 1;
	}
	80% {
		transform: translate(-50%, -50%)
		scale(.95);
	}
	100% {
		transform: translate(-50%, -50%)
		scale(1);
	}
}


@media (max-width: 720px) {
  #modal {
    width: 35em;
  }

  #open-modal {
    width: 150px;
    height: 40px;
  }

  #open-modal > p {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  #modal {
    width: 25em;
  }
}

@media (max-width: 450px) {
  #modal {
    width: 18em;
  }
}