*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.timer-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/free-photo/time-is-passing-blue-hourglass-close-up_93675-128942.jpg?w=996&t=st=1707778487~exp=1707779087~hmac=d426cc2fda7716bfe905262eab43c9677a716bc321c3abc04eaac089303896bc") no-repeat center center/cover;
}

.timer-card {
  width: min(70%, 700px);
  height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1.5rem;
}

.timer-card #timer {
  font-size: 4.5rem;
  padding: 1rem;
  font-size: clamp(2.6rem, 7vw, 5rem);
}

.btn-wrapper {
  display: inline-flex;
  gap: 1rem;
  padding: 0.5rem;
}

.buttons {
  text-align: center;
  margin: 0 auto;
}

.buttons button {
  border: none;
}

button ion-icon {
  font-size: 2rem;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

#play {
  background-color: green;
}

#pause {
  background-color: orange;
}

#restart {
  background-color: orangered;
}