:root {
  --primary-color: #121212;
  --secondary-color: #cfcfcf;
  --acsent-color: #005EFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monaco', monospace;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

html {
  /* overflow-x: hidden; */
}

#navbar {
  display: flex;
  position: sticky;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navbar-main {
  display: flex;
  position: sticky;
  padding: 20px 5%;
  gap: 2rem;
  width: 75%;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-bottom: 3px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 0 0 30px 30px;
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  width: 80%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  list-style: none;
}

.nav-link:hover {
  transition:  500ms;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#welcome-section {
  height: 91vh;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  z-index: 0;
}

* {
  /* border: 1px solid red; */
}

.welcome-main {
  border: 2px dashed var(--secondary-color);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.welcome-main img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 30px;
}

.welcome-main h1 {
  font-size: 1.7em;
  margin-bottom: 15px;
}

.welcome-desc {
  padding: 15px;
  border: 2px dashed var(--secondary-color);
}

.welcome-desc h1 {
  padding: 10px;
  border: 2px dashed var(--secondary-color) ;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.welcome-desc li {
  font-size: 1.3em;
  margin-bottom: 20px;
}

#skills {
  height: 50vh;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: -1;
}

#skills h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.card-skill span{
  font-size: 5em;
  margin: 20px;
}

#projects {
  height: 100vh;
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content : center;
  margin-bottom: 5em;
}

#projects > h1 {
  font-size: 2.5em;
  margin: 90px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
}

.card-project {
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.card-project img {
  justify-content: center;
  width: 90%;
  height: auto;
  border-radius: 15px;
}

.card-project > h1 , p{
  margin: 20px 0;
  text-align: left;
}

.card-project > button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0  10px;
  border-radius: 10px;
  transition: 1s ease-in-out;
  cursor: pointer ;
  display: inline-block;
}

.card-project > button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: translateY(5px);
}

#contacts {
  height: 100vh;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#contacts h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

#contacts label {
  font-size: 2em;
  display: inline-block;
  text-align: center
}

#contacts input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

#contacts textarea {
  display: block;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  font-size: 1.5em;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

#contacts button {
  border: none;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0  10px;
  border-radius: 10px;
  cursor: pointer ;
  display: inline-block;
  border: 2px solid var(--primary-color);
  transition: 3ms ease;
}

#contacts button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: translateY(5px);
}

footer {
  font-size: 1.5rem;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
  transition-duration: 1s;
}

footer a:hover {
  color: var(--primary-color);
  text-shadow: 1px var(--secondary-color);
}

@media (max-width: 1000px) {
  * {
    font-size: 1.em
  }
}
  